@font-face {
  font-family: "Radikal W03 Regular";
  src: url("./font/radikal/605c1c612570275f24508913462da771.eot"); /* IE9*/
  src: url("./font/radikal/605c1c612570275f24508913462da771.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./font/radikal/605c1c612570275f24508913462da771.woff2") format("woff2"),
    /* chrome、firefox */ url("./font/radikal/605c1c612570275f24508913462da771.woff") format("woff"), /* chrome、firefox */ url("./font/radikal/605c1c612570275f24508913462da771.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("./font/radikal/605c1c612570275f24508913462da771.svg#Radikal W03 Regular") format("svg"); /* iOS 4.1- */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Radikal W03 Regular" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  background: linear-gradient(90deg, #9f30ff 0%, #01e7ff 100%);
  overflow: auto;
  min-height: 100vh;
}

.header {
  padding: 100px 0 40px 0;
  text-align: center;
}

.header-icon {
  font-size: 2.5rem;
}

.todo-app {
  display: flex;
  flex-direction: column;
  width: 520px;
  text-align: center;
  margin: 10px auto;
  padding-bottom: 50px;
}

.todo {
  padding: 15px 30px;
  margin: 1px;
  background: white;
}

.todo h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo p {
  text-align: start;
}

.todo.complete h3 {
  text-decoration: line-through 2px;
  opacity: 0.4;
}

.form-control {
  width: 520px;
  margin: 10px auto;
}

.form-control :nth-child(1) {
  width: 460px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border-style: none;
  outline: none;
}

.form-control :nth-child(2) {
  width: 60px;
  height: 40px;
  font-size: 20px;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.form-control :nth-child(2):hover {
  color: #9f30ff;
}

.icons {
  padding-top: 5.2px;
}

.footer {
  position: absolute;
  left: 900px;
  bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 40px;
  }

  .header-icon {
    font-size: 5rem;
  }

  .form-control {
    width: 820px;
  }

  .form-control :nth-child(1) {
    width: 760px;
    height: 50px;
  }

  .form-control :nth-child(2) {
    width: 60px;
    height: 50px;
  }

  .todo-app {
    width: 820px;
    padding-top: 10px;
  }

  .footer {
    position: absolute;
    left: 450px;
    bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 56vh;
  }

  .header {
    font-size: 20px;
  }

  .header-icon {
    font-size: 2.5rem;
  }

  .form-control {
    width: 320px;
  }

  .form-control :nth-child(1) {
    width: 240px;
  }

  .form-control :nth-child(2) {
    width: 80px;
  }

  .todo-app {
    width: 320px;
  }

  .footer {
    position: absolute;
    left: 120px;
    bottom: 40px;
  }
}
